.Navbar-container {
    height: 8vh;
    max-height: 8vh;
    background-color: rgba(106, 178, 226, 0.8);
}

.Navbar {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.Navbar-item {
    white-space: nowrap;
    text-decoration: none;
    color: white;
    margin: 0 15px;
}

.Navbar-btn {
    color: white;
    margin: 0 15px;
    cursor: pointer;
}